$first-tone: #261f1f;

$first-tone-hover: #282424;

$second-tone: #1e1717;
$third-tone: #140c0c;
$fourth-tone: #423535;

$primary: #970b0b;
$primary-invert: #fff;
$text: #fff;
$primary-link: #a76a6a;

$background: $second-tone;
$background-content: $first-tone;
$shadow: #0009;
$page-bg: $third-tone;




$material-primary: $primary;
